bin/
obj/
artifacts/
Debug/
Release/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb

*.log
*Logs.txt


appsettings*.json
!appsettings.json

TestResults/

wwwroot/

swagger.json

Migrations/

.DS_Store
Thumbs.db